body {
    padding-top: 40px;
}

h2 {
    margin-bottom: 1em;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.level a{
    width: 10%;
}

.level {
    margin-bottom: 0.5em;
}

.room a{
    width: 70%;
    margin: 0.5em;
}

.room {
    width: 20%;
    float: left;
}

.add-button:hover {
    background-position: 0 -96px;
}

.remove-button:hover {
    background-position: -312px 0;
}
