body {
    padding-top: 40px;
}

h2 {
    margin-bottom: 1em;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.level a{
    width: 10%;
}

.level {
    margin-bottom: 0.5em;
}

.room a{
    width: 70%;
    margin: 0.5em;
}

.room {
    width: 20%;
    float: left;
}

.sprite-button {
    display: block;
    height: 26px;
    width: 26px;
}

.check-button {
    background: url("/static/images/glyphicons_206_ok_2.png") no-repeat;
}

.add-button {
    background: url("/static/images/checkbox26x26.png") no-repeat;
}

.check-button:hover {
    background: url("/static/images/glyphicons_207_remove_2_26x26.png") no-repeat;
}

.add-button:hover {
    background: url("/static/images/glyphicons_190_circle_plus.png") no-repeat;
}
