[run]
omit =
    */lib/python2.6/*
    */pyshared/*
    tests/*
    */alembic/versions/*
    web/*

[report]
omit =
    */lib/python2.6/*
    */pyshared/*
    tests/*
    */alembic/versions/*
    web/*

