*~
*.pyc
.idea/workspace.xml
.idea/misc.xml
.idea/Pycroft.iml
*.DS_Store
*.orig
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
doc/_build
.vagrant
web/static/libs/**

