*~
*.pyc
.idea/workspace.xml
.idea/misc.xml
.idea/Pycroft.iml
*.DS_Store
*.orig
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dataSources/
.idea/sqldialects.xml
doc/_build
.vagrant
# Managed by bower
web/static/libs/**

*.log
nosetests.xml
.noseids
.pylintrc
.coverage
TAGS
/schema.png
/schema.svg
/schema.pdf
/data
