Dominik Pataky <pataky@wh2.tu-dresden.de> Dominik <cookie@wh2.tu-dresden.de>
<pataky@wh2.tu-dresden.de> <cookie@wh2.tu-dresden.de>

Sebastian Schrader <shreyder@wh2.tu-dresden.de> <sebastian.schrader@tu-dresden.de>
<shreyder@wh2.tu-dresden.de> <sebastian.schrader@mailbox.tu-dresden.de>

Jan Losinski <losinski@wh2.tu-dresden.de> <jan.losinski@secunet.de>

Johannes Falke <mueslo@wh2.tu-dresden.de> mueslo <johannesfalke@googlemail.com>

Felix Kluge <felix_kluge@wh2.tu-dresden.de>

Philipp Horn <unicorn@wh2.tu-dresden.de>

Lukas Juhrich <lukasjuhrich@wh2.tu-dresden.de> <lukasjuhrich@mail.wh2.tu-dresden.de>
<lukasjuhrich@wh2.tu-dresden.de> <luaksjuhrich@wh2.tu-dresden.de>

Felix Knorr <f_knorr@wh2.tu-dresden.de>

Friedrich Zahn <toothstone@wh2.tu-dresden.de>

Joshua Blöcker <joschua_bloecker@wh2.tu-dresden.de>

Christian Jacobs <jacobs@wh2.tu-dresden.de>
<jacobs@wh2.tu-dresden.de> <Christian.Jacobs@mailbox.tu-dresden.de>

Tim Kluge <timklge@wh2.tu-dresden.de>
<timklge@wh2.tu-dresden.de> <timklge@atlantis.wh2.tu-dresden.de>
