---
version: "2.3"

services:
  base:
    extends:
      file: docker-compose.base.yml
      service: base
  test-app:
    extends:
      file: docker-compose.base.yml
      service: dev
    command: ["test"]
    depends_on:
      - test-db
      - test-ldap
      - test-mq
      - test-dummy-worker
    networks:
      - test
  test-db:
    extends:
      file: docker-compose.base.yml
      service: db
    # Make PostgreSQL fly
    command:
      - "-cshared_buffers=64MB"
      - "-cwork_mem=128MB"
      - "-cfsync=off"
      - "-cfull_page_writes=off"
      - "-cwal_level=minimal"
      - "-cmax_wal_senders=0"
    networks:
      test:
        aliases:
          - db
    tmpfs:
      - /var/lib/postgresql/data
  test-ldap:
    extends:
      file: docker-compose.base.yml
      service: ldap
    environment:
      - SLAPD_FORCE_RECONFIGURE=true
    networks:
      test:
        aliases:
          - ldap
    tmpfs:
      - /var/lib/ldap
  test-mq:
    extends:
      file: docker-compose.base.yml
      service: mq
    networks:
      test:
        aliases:
          - mq
    tmpfs:
      - /var/lib/rabbitmq
  # a dummy worker mocking hades for testing the client
  test-dummy-worker:
    extends:
      file: docker-compose.base.yml
      service: dev
    command: "dummy-worker worker --loglevel=debug"
    environment:
      - TEST_HADES_BROKER_URI=amqp://celery:celery@mq:5672/
      - TEST_HADES_RESULT_BACKEND_URI=rpc://celery:celery@mq:5672/
    depends_on:
      - test-mq
    networks:
      - test

networks:
  test:

volumes:
  home:
