include AUTHORS LICENSE NOTICE pycroft/model/alembic.ini web/flask.cfg
recursive-include web/static *.css *.eot *.ico *.js *.json *.map *.png *.svg *.ttf *.woff *.woff2
recursive-include web/templates *.html
