include alembic.ini AUTHORS LICENSE NOTICE
graft alembic
include web/flask.cfg
recursive-include web/static *.css *.js *.map *.ttf *.woff *.eot *.svg *.png *.ico
recursive-include web/templates *.html
