factory-boy~=3.2.0
pydot~=1.4.1
pytest~=7.0.0
pytest-timeout~=2.1.0
pytest-cov~=4.0.0
# required for pycharm „run with coverage“ reporting
coverage~=6.5.0
git+https://github.com/lukasjuhrich/sqlalchemy_schemadisplay.git@master#egg=sqlalchemy-schemadisplay
sphinx~=5.1.1
sphinx-autobuild~=2021.3.14
git+https://github.com/agdsn/guzzle_sphinx_theme.git@977d49fcbdf2b3df9660d813d4b33369391923e1#egg=guzzle-sphinx-theme
mypy>=0.961
types-Jinja2~=2.11.9
types-babel~=2.9.2
celery-types~=0.9.3
types-jsonschema~=4.3.0
types-passlib~=1.7.7
sphinx-paramlinks~=0.5.4
sphinxcontrib-fulltoc~=1.2.0
sphinxcontrib-httpdomain~=1.8.0
ruff~=0.0.241
