Flask>=0.8
Flask-Login>=0.1.1
Flask-WTF>=0.6
ipaddr>=2.1.10
Jinja2>=2.6
MySQL-python>=1.2.3
nose>=1.1.2
passlib>=1.6
pydot>=1.0.28
PyMySQL>=0.5
pyparsing==1.5.7
pysqlite>=2.6.3
SQLAlchemy>=0.7.6
sqlalchemy-schemadisplay>=1.1
Werkzeug>=0.8.3
wsgiref>=0.1.2
WTForms>=1.0.1
fixture>=1.4
