Click~=8.0
#MySQL-python==1.2.5
Flask-Babel~=2.0.0
Flask-Login~=0.5.0
Flask-Testing~=0.8.1
Flask-WTF~=1.0.0
Flask-RESTful~=0.3.7
Flask~=1.1.2
# manual pin of itsdangerous: v2 does not use `simplejson` anymore,
# even if installed, and hence cannot (de)serialize `Decimal`s out of the box.
# When upgrading flask, remove this, add a custom deserializer or find another fix.
itsdangerous~=1.1.0
Jinja2~=2.11.2
MarkupSafe~=1.0
SQLAlchemy~=1.4.18
WTForms~=2.2.1
Werkzeug~=1.0.1
blinker~=1.4
ipaddr~=2.2.0
jsonschema~=3.2.0
passlib~=1.7.1
psycopg2~=2.8.6
wrapt~=1.12.1
# only needed for ldap caching
ldap3~=2.5.1
celery~=5.2.1
alembic~=1.6.4
# decimal serialization
simplejson~=3.11.1
#usersheet generation
pillow~=8.4.0
reportlab~=3.6.2
fints~=3.1.0
mt-940~=4.19.0
uwsgi~=2.0.21
uwsgitop~=0.11
GitPython~=2.1.7
mac-vendor-lookup~=0.1.11
marshmallow~=3.11.1
email-validator~=1.1.1
sentry-sdk[Flask]~=1.0.0
-e ./deps/wtforms-widgets/
python-dotenv~=0.21.0
