coverage~=5.3.1
factory-boy~=3.2.0
pydot~=1.4.1
pytest~=6.2.1
git+git://github.com/lukasjuhrich/sqlalchemy_schemadisplay.git@master#egg=sqlalchemy-schemadisplay
pytest-flask~=1.2.0
sphinx~=4.0.2
sphinx-autobuild~=2021.3.14
