coverage~=5.3.1
factory-boy~=3.2.0
pydot~=1.4.1
pytest~=7.0.0
pytest-timeout~=2.1.0
git+https://github.com/lukasjuhrich/sqlalchemy_schemadisplay.git@master#egg=sqlalchemy-schemadisplay
pytest-flask~=1.2.0
sphinx~=4.0.2
sphinx-autobuild~=2021.3.14
mypy>=0.961
sqlalchemy[mypy]~=1.4.18
types-Jinja2~=2.11.9
types-babel~=2.9.2
celery-types~=0.9.3
types-jsonschema~=4.3.0
