{% macro log_list(logs) -%}
    <p>
        {% if logs %}
            <table class="table table-striped">
                <tr><th>Zeit</th><th>Benutzer</th><th>Nachricht</th></tr>
               {% for entry in logs %}
                    <td class="shrink">{{ entry.timestamp|datetime }}</td>
                    <td class="shrink"><a href="{{ url_for(".user_show", user_id=entry.author.id) }}">{{ entry.author.name }}</a></td>
                    <td class="grow">{{ entry.message }}</td>
                {% endfor %}
            </table>
        {% else %}
        <div class="alert alert-info">
            Keine Logeinträge vorhanden.
        </div>
        {% endif %}
    </p>
{%- endmacro %}

<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#log_entries_all" data-toggle="tab">Alle</a></li>
    <li><a href="#log_entries_user" data-toggle="tab">Nutzer</a></li>
    <li><a href="#log_entries_room" data-toggle="tab">Raum</a></li>
</ul>

<div class="row">
    <div id="myTabContent" class="tab-content span6">
        <div class="tab-pane fade in active" id="log_entries_all">
            {{ log_list(all_log) }}
        </div>
        <div class="tab-pane fade" id="log_entries_user">
            {{ log_list(user_log) }}
        </div>
        <div class="tab-pane fade" id="log_entries_room">
            {{ log_list(room_log) }}
        </div>
    </div>

    <div class="span6">
        <form method="POST" action="" class="form-horizontal">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if field.type not in ["HiddenField", "CSRFTokenField"] %}
                    <p>
                        {{ field(placeholder='Nachricht', class='span6 form-control') }}
                    </p>
                {% endif %}
            {% endfor %}
            <p>
                <button type="submit" class="btn btn-primary">Nutzerlog anlegen</button>
            </p>
        </form>
        {# {{ forms.simple_form(form, '', url_for('.create')) }} #}
    </div>
</div>