<div class="row">
    {% if user_logs %}
            <dl class="span6">
                {% for entry in user_logs %}
                    <dt>
                        {{ entry.timestamp|datetime }} von <a href="{{ url_for(".user_show", user_id=entry.author.id) }}">{{ entry.author.name }}</a>
                    </dt>
                    <dd><p>{{ entry.message }}</p></dd>
                {% endfor %}
            </dl>
    {% else %}
            <p>Nutzer hat keine Einträge.</p>
    {% endif %}

    <div class="span6">
        <form method="POST" action="" class="form-horizontal">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if field.type not in ["HiddenField", "CSRFTokenField"] %}
                    {{ field(placeholder='Nachricht', class='span6') }}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Absenden</button>
        </form>
        {# {{ forms.simple_form(form, '', url_for('.create')) }} #}
    </div>
</div>
