<table class="table table-condensed">
    <thead>
    <tr>
        <th>Beschreibung</th>
        <th>Betrag</th>
    </tr>
    </thead>
    <tbody>
        {% for transaction in user.finance_account.transactions %}
            {% for split in transaction.splits %}
                {% if split.account.user_id == user.id %}
                    {% if split.amount < 0 %}
                        <tr class="success">
                            <td>
                                {{ transaction.message }}
                            </td>
                            <td>
                                {{ split.amount|money }}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="error">
                            <td>
                                {{ transaction.message }}
                            </td>
                            <td>
                                -{{ split.amount|money }}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>