{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
  <div class="row">
    <div class="col-4">
      {% if prm.email_confirmed %}
        <i class="fa fa-check-circle text-success"></i> E-Mail Adresse bestätigt
      {% else %}
        <i class="fa fa-times-circle text-danger"></i> E-Mail Adresse nicht
        bestätigt
      {% endif %}
      <br/>
      {% if prm.swdd_person_id is not none %}
        <i class="fas fa-address-card text-success"></i> Identität bestätigt
      {% else %}
        <i class="far fa-address-card text-danger"></i> Identität nicht
        bestätigt
      {% endif %}
    </div>
    <div class="col-4">
      <i class="fa fa-clock"></i> {{ prm.registered_at | datetime }}
    </div>
    <div class="col-4">
      <i class="fa fa-laptop-house"></i> <b>Vorheriges Wohnheim: </b><br/>
      {% if prm.previous_dorm is none %}
        -
      {% else %}
        <b class="text-danger">{{ prm.previous_dorm }}</b>
      {% endif%}
    </div>
  </div>

  {% if not is_adult %}
    <hr/>
    <b class="text-danger">Person ist nicht volljährig, Bestätigung eines Erziehungsberechtigten benötigt!</b>
  {% endif %}

  <hr/>

  {{ forms.simple_form(form, '', url_for('.member_requests')  ) }}

  <hr/>

  <b class="text-danger">Die Aktion "Abschließen" speichert oben gemachte
    Änderungen nicht!</b>

  <br/>

  <a id="member_request_finish" class="btn btn-success"
     href="{{ url_for('.member_request_finish', pre_member_id=prm.id) }}">
    <i class="fa fa-check"></i> Abschließen
  </a>
  <a class="btn btn-info"
     href="{{ url_for('.member_request_merge', pre_member_id=prm.id) }}">
    <i class="fas fa-people-arrows"></i> Zusammenführen
  </a>
  <a class="btn btn-danger"
     href="{{ url_for('.member_request_delete', pre_member_id=prm.id) }}">
    <i class="fa fa-trash"></i> Löschen
  </a>
{% endblock %}

{% block page_script %}
  {{ resources.link_script_file('lazy-load-select.js' | require) }}

  <script type="application/javascript">
    $(function () {
      $('.main .form-control').on('change paste keyup', function () {
        $('#member_request_finish').addClass('disabled');
      });
    });
  </script>
{% endblock %}
