{% extends "user/base.html" %}

{% block basecontent %}
    <div style="text-align: center;" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="760.11633"
            height="366.67575"
            id="svg4141"
            version="1.1"
            inkscape:version="0.48.3.1 r9886"
            sodipodi:docname="Zeichnung.svg">
    <defs id="defs4143"/>
    <sodipodi:namedview
            id="base"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageopacity="0.0"
            inkscape:pageshadow="2"
            inkscape:zoom="0.7"
            inkscape:cx="333.95565"
            inkscape:cy="32.479437"
            inkscape:document-units="px"
            inkscape:current-layer="layer1"
            showgrid="false"
            inkscape:window-width="1280"
            inkscape:window-height="757"
            inkscape:window-x="0"
            inkscape:window-y="0"
            inkscape:window-maximized="1"
            fit-margin-top="0"
            fit-margin-left="0"
            fit-margin-right="0"
            fit-margin-bottom="0"/>
    <style>.dormitory:hover { opacity: 0.6; }</style>
    <metadata id="metadata4146">
        <rdf:RDF>
            <cc:Work
                    rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                        rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                <dc:title/>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g id="layer1" transform="translate(-18.652736,25.600015)">

        <a xlink:href="{{ url_for('user.overview') }}dormitory/8">
        <g class="dormitory" id="g3941">
            <g
                    transform="matrix(0.79832126,-0.60223182,0.60223182,0.79832126,-101.85682,65.332025)"
                    id="g4409">
                <path
                        inkscape:connector-curvature="0"
                        style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                        d="m 16.455428,296.11078 22.95411,-56.30858 8.55468,3.4912 6.41602,-15.77148 2.93945,1.20605 3.4375,-8.47656 13.62305,5.55176 -3.42285,8.38379 3.2666,1.32812 -6.45508,15.83497 8.78906,3.58397 -22.96386,56.32325 -37.13868,-15.14649"
                        id="path10154"/>
            </g>
            <text
             sodipodi:linespacing="125%"
             id="text4375"
             y="266.37784"
             x="87.196999"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="266.37784"
               x="87.196999"
               id="tspan4377"
               sodipodi:role="line">7</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/7">
        <g class="dormitory" id="g3931">
            <path
                    id="path10162"
                    d="m 243.02631,340.95074 -15.64948,-58.74657 8.97479,-2.39714 -4.38371,-16.39993 3.08075,-0.8133 -2.36077,-8.88601 14.17799,-3.77788 2.39296,8.88006 3.37934,-0.90397 4.3603,16.41757 9.13291,-2.43078 15.64654,58.74265 -38.75162,10.3153"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4379"
             y="315.16684"
             x="241.7032"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               id="tspan4383"
               y="315.16684"
               x="241.7032"
               sodipodi:role="line">9</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/1">
        <g class="dormitory" id="g3947">
            <path
                    id="path10164"
                    d="m 134.35755,217.73617 -15.66417,-58.76606 8.97287,-2.38346 -4.36709,-16.39412 3.06994,-0.83572 -2.35487,-8.87823 14.18092,-3.77399 2.36959,8.89771 3.40859,-0.91383 4.35444,16.40978 9.12995,-2.43467 15.63778,58.75538 -38.73795,10.31721"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4412"
             y="191.94052"
             x="133.55019"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="191.94052"
               x="133.55019"
               id="tspan4414"
               sodipodi:role="line">5</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/9">
        <g class="dormitory" id="g3952">
            <path
                    id="path10160"
                    d="m 176.9447,142.57495 -15.64756,-58.760245 8.96699,-2.39127 -4.37783,-16.39213 3.08465,-0.81624 -2.37348,-8.89476 14.19261,-3.78283 2.38128,8.88889 3.38521,-0.89616 4.36613,16.40094 9.12995,-2.43467 15.63778,58.755375 -38.74573,10.3231"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4416"
             y="117.99345"
             x="175.19922"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="117.99345"
               x="175.19922"
               id="tspan4418"
               sodipodi:role="line">3</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/11">
        <g class="dormitory" id="g3957">
            <path
                    id="path10156"
                    d="M 34.441913,65.544885 18.777736,6.7788252 l 8.977803,-2.36883 -4.372019,-16.4087602 3.069943,-0.83573 -2.349967,-8.86358 14.184827,-3.77694 2.369583,8.89772 3.395875,-0.92258 4.36717,16.4185302 9.126051,-2.43174 15.64947,58.7465698 -38.754559,10.3114"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4420"
             y="38.152248"
             x="31.959156"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="38.152248"
               x="31.959156"
               id="tspan4422"
               sodipodi:role="line">1</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/10">
        <g class="dormitory" id="g3936">
            <path
                    id="path10158"
                    d="m 286.02123,266.33819 -15.65248,-58.77487 8.96897,-2.38054 -4.35541,-16.40292 3.05047,-0.82102 -2.35879,-8.87529 14.20431,-3.79164 2.35194,8.87433 3.38522,-0.89618 4.37782,16.39214 9.11826,-2.42588 15.65249,58.77489 -38.7428,10.32698"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4424"
             y="243.08707"
             x="272.06723"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="243.08707"
               x="272.06723"
               id="tspan4426"
               sodipodi:role="line">11</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/6">
        <g class="dormitory" id="g3962">
            <path
                    id="path10146"
                    d="m 350.91246,177.19198 -30.43849,-104.166375 20.97671,-6.61916 -7.15847,-25.96449 49.88237,-14.91378 6.10154,20.26625 -40.20894,11.95901 29.50297,110.823335 -28.65769,8.61521"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4428"
             y="127.2038"
             x="316.06006"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="127.2038"
               x="316.06006"
               id="tspan4430"
               sodipodi:role="line">41d</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/5">
        <g class="dormitory" id="g3967">
            <path
                    id="path10150"
                    d="m 437.20693,162.67338 -27.23458,-104.938035 20.1839,-5.5134 -6.90199,-29.93788 45.41034,-11.5341 5.13818,20.44863 -35.21452,9.2556 28.30364,114.981965 -29.68497,7.23722"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4432"
             y="103.70197"
             x="403.56406"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="103.70197"
               x="403.56406"
               id="tspan4434"
               sodipodi:role="line">41c</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/4">
        <g class="dormitory" id="g3972">
            <path
                    id="path10144"
                    d="M 526.28434,143.06712 501.19706,35.964875 522.2572,30.891405 515.35519,0.95353522 565.41227,-10.850375 l 4.89308,20.1075002 -40.5512,10.0459198 26.65511,115.650615 -30.12492,8.11346"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4436"
             y="87.097931"
             x="488.1311"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="87.097931"
               x="488.1311"
               id="tspan4438"
               sodipodi:role="line">41b</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/2">
        <g class="dormitory" id="g3977">
            <path
                    id="path10152"
                    d="m 615.62925,121.67495 -21.09457,-96.077215 18.94767,-4.42793 3.67277,-0.73389 -6.12159,-26.7466698 51.78211,-10.9522902 4.3726,19.4175502 -42.11048,10.1518198 21.35869,102.881185 -30.8072,6.48744"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4440"
             y="68.442413"
             x="579.18842"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="68.442413"
               x="579.18842"
               id="tspan4442"
               sodipodi:role="line">41a</tspan></text>
        </g>
        </a>

        <a xlink:href="{{ url_for('user.overview') }}dormitory/3">
        <g class="dormitory" id="g3982">
            <path
                    id="path10142"
                    d="m 727.79552,207.98118 -22.32146,-107.03575 22.78818,-4.193535 -6.40031,-31.42951 52.74357,-11.12098 4.03858,21.85307 -42.21744,8.57496 22.8817,116.356475 -31.51282,6.99527"
                    style="fill:#baa8a8;fill-opacity:0.9;fill-rule:nonzero;stroke:#330066;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    inkscape:connector-curvature="0"/>
            <text
             sodipodi:linespacing="125%"
             id="text4444"
             y="162.39166"
             x="706.17035"
             style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
             xml:space="preserve"><tspan
               y="162.39166"
               x="706.17035"
               id="tspan4446"
               sodipodi:role="line">41</tspan></text>
        </g>
        </a>

    </g>
    </svg>
    </div>
{% endblock %}
