{% extends "user/base.html" %}

{% import "macros/forms.html" as forms %}
{% block basecontent %}
    {{ forms.simple_form(form, '', url_for('.create')  ) }}
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        $(function(){
            $("body").on("change", "select#dormitory_id", null, function( e ){
                var $select = $(this),
                    selected_id = $select.val(),
                    $level_selector = $("select#level");
                $.getJSON("{{ url_for(".json_levels") }}" + "/" + selected_id, null, function( data ){
                    var $levels = $(data.levels);
                    $level_selector.find("option").remove();
                    $levels.each(function(num, item){
                       $level_selector.append('<option value="'+ item +'">'+item+'</option>');
                    });

                })
            })
        })

    </script>
{% endblock %}