{% extends "layout.html" %}
{% set page_title = "Nutzer sperren" %}

{% import "macros/forms.html" as forms %}
{% import "macros/resources.html" as resources %}
{% block page_css %}{{ resources.link_css("datepicker/css/datepicker3.css") }}{% endblock %}

{% block single_row_content %}
    {{ forms.simple_form(form, '', url_for('.user_show',user_id=user_id)  ) }}
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        // disables the datepicker field, if the block is marked as unlimited
        $("#unlimited").click(function () {
            if($(this).is(":checked")) {
                $("#date").prop('disabled', true);
            } else {
                $("#date").prop('disabled', false);
            }
        });
    </script>
{% endblock %}
