{% macro topnav_link(blueprint_name, endpoint_name, text) -%}
    <li{% if request.blueprint == blueprint_name %} class="active"{% endif %}>
        <a href="{{ url_for(blueprint_name + endpoint_name) }}">{{ text }}</a>
    </li>
{%- endmacro %}

{% macro nav_tabs() %}
    <ul class="nav nav-tabs">
        {{ caller() }}
    </ul>
{% endmacro %}

{% macro nav_tab_card(endpoint, text, active=False) %}
    <li {% if request.endpoint.endswith(endpoint) %} class="active"{% endif %}><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
{% endmacro %}