{% macro topnav_link(blueprint_name, endpoint_name, text) -%}
    <li{% if request.blueprint == blueprint_name %} class="active"{% endif %}>
        <a href="{{ url_for(blueprint_name + endpoint_name) }}">{{ text }}</a>
    </li>
{%- endmacro %}


{% macro nav_tabs() %}
    <ul class="nav nav-tabs">
        {{ caller() }}
    </ul>
{% endmacro %}


{% macro nav_tab_card(endpoint, text, active=False) %}
    <li {% if request.endpoint.endswith(endpoint) %} class="active"{% endif %}><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
{% endmacro %}


{% macro blueprint_element(bp_nav) -%}
    {% if bp_nav.is_allowed %}
        <li class="{{ bp_nav.css_classes|join(" ") }}">
            {%- if bp_nav.dropdown -%}
                <a  href="{{ url_for(bp_nav.first.endpoint) }}" {% if bp_nav.is_active %} style="background-color: #222"{% endif %}>{{ bp_nav.text }}</a>
            {%- else -%}
                <a  href="{{ url_for(bp_nav.first.endpoint) }}">{{ bp_nav.text }}</a>
            {%- endif -%}
            {%- if bp_nav.dropdown -%}
                <ul class="dropdown-menu">
                    {% for element in bp_nav -%}
                        <li><a href="{{ url_for(element.endpoint) }}">{{ element.text }}</a></li>
                    {%- endfor %}
                </ul>
            {%- endif -%}
        </li>
    {% endif %}
{%- endmacro %}

{% macro get_page_title(config, page_title) -%}
    {%- if page_title -%}
        {{ page_title }}
    {%- else -%}
        {%- for navigation in config.blueprint_navigation -%}
            {%- if navigation.is_active -%}
                {{ navigation.get_page_title }}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro %}

{% macro get_blueprint_title(config) -%}
    {%- for navigation in config.blueprint_navigation -%}
        {%- if navigation.is_active -%}
            {{ navigation.text }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro %}

{% macro breadcrumbs() -%}
    <li class="active">
        <a href="#">Breadcrumb</a> <span class="divider">/</span>
    </li>
{%- endmacro %}