{% extends "layout.html" %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Management IP</th>
            </tr>
        </thead>
        <tbody>
            {% for switch in switches %}
                <tr>
                    <td>{{ switch.id}}</td>
                    <td><a href="{{ url_for(".switch_show", switch_id=switch.id) }}">{{ switch.name }}</a></td>
                    <td>{{ switch.management_ip }}</td>                  </tr>
            {% endfor %}
        </tbody>
	</table>
{% endblock %}
