{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            {% for vlan in vlans %}
                <tr>
                    <td class="shrink">{{ vlan.id}}</td>
                    <td class="grow">{{ vlan.name }}</td>
                    <td class="shrink">{{ vlan.tag }}</td>
                </tr>

                  {% endfor %}

        </tbody>
	</table>
{% endblock %}
