{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th class="col-sm-8">Name</th>
                <th class="col-sm-3">Tag</th>
            </tr>
        </thead>
        <tbody>
            {% for vlan in vlans -%}
            <tr>
                <td>{{ vlan.id}}</td>
                <td>{{ vlan.name }}</td>
                <td>{{ vlan.tag }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
{% endblock %}
