{% extends "layout.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('dormitories.overview') }}">Wohnheime</a>
        </li>
        <li>
            <a href="{{ url_for('dormitories.dormitory_levels', dormitory_id=dormitory.id) }}">
                {{ dormitory.short_name }}
            </a>
        </li>
        <li class="active">Etage {{ level }}</li>
    </ul>
    <div class="span6">
        <table class="table table-striped">
            <thead>
                <tr><th>Raum</th><th>Bewohner</th></tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                        {% if not room.users %}
                            <tr>
                                <td><a href="{{ url_for(".room_show",room_id=room.id) }}">{{ level }}-{{ room.number }}</a></td>
                                <td>&nbsp;</td>
                        {% else %}
                            {% for user in room.users %}
                                {% if user is not user_with_positive_balance %}
                                    <tr>
                                        <td><a class="text-warning" href="{{ url_for(".room_show",room_id=room.id) }}">{{ level }}-{{ room.number }}</a></td>
                                        <td><a class="text-warning" href="{{ url_for("user.user_show",user_id=user.id) }}">{{ user.name }}</a></td>
                                {% else %}
                                    {% if user is user_with_no_internet %}
                                        <tr>
                                            <td><a class="text-danger" href="{{ url_for(".room_show",room_id=room.id) }}">{{ level }}-{{ room.number }}</a></td>
                                            <td><a class="text-danger" href="{{ url_for("user.user_show",user_id=user.id) }}">{{ user.name }}</a></td>
                                    {% else %}
                                        {% if user is user_with_traffic_exceeded %}
                                            <tr>
                                                <td><a class="text-info" href="{{ url_for(".room_show",room_id=room.id) }}">{{ level }}-{{ room.number }}</a></td>
                                                <td><a class="text-info" href="{{ url_for("user.user_show",user_id=user.id) }}">{{ user.name }}</a></td>
                                        {% else %}
                                            <tr>
                                                <td><a class="text-success" href="{{ url_for(".room_show",room_id=room.id) }}">{{ level }}-{{ room.number }}</a></td>
                                                <td><a class="text-success" href="{{ url_for("user.user_show",user_id=user.id) }}">{{ user.name }}</a></td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
