{% extends "layout.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('dormitories.overview') }}">Wohnheime</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ url_for('dormitories.dormitory_levels', dormitory_id=room.dormitory.id) }}">{{ room.dormitory.short_name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{url_for('.dormitory_level_rooms', dormitory_id=room.dormitory_id, level=room.level)}}">
                Etage {{ room.level|level_number }}
            </a>
            <span class="divider">/</span>
        </li>
        <li class="active">Zimmer {{ room.number }}</li>
    </ul>
    <ul class="unstyled">
        <li>Wohnheim: {{ room.dormitory.street }} {{ room.dormitory.number
                }}</li>
        <li>Nummer: {{ room.number }}</li>
        <li>Etage: {{ room.level }}</li>
        <li>Bewohnbar: {{ room.inhabitable }}</li>
    </ul>

    <div class="row">
        <div class="span6">
        {% if room_logs %}
            <dl>
                {% for entry in room_logs %}
                    <dt>
                        {{ entry.timestamp|datetime }} von <a href="{{ url_for("user.user_show", user_id=entry.author.id) }}">{{ entry.author.name }}</a>
                    </dt>
                    <dd><p>{{ entry.message }}</p></dd>
                {% endfor %}
            </dl>
        {% else %}
            <p>Raum hat keine Einträge.</p>
        {% endif %}
        </div>

        <div class="span6">
            <form method="POST" action="" class="form-horizontal">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.type not in ["HiddenField", "CSRFTokenField"] %}
                        {{ field(placeholder='Nachricht', class='span6') }}
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Absenden</button>
            </form>
        </div>
    </div>
{% endblock %}
