{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
    {% for change in changes %}
        <h4>{{ change[0] }}:</h4>
        {% if (change[1]|length) > 0 %}
            <ul>
                {% for user in change[1] %}
                    <li>
                        <a target="_blank" href="{{ url_for("user.user_show", user_id=user.id) }}">{{ user.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <i class="text-muted">- Keine -</i>
        {% endif %}

        <br/>
        <br/>
    {% endfor %}

    {{ forms.advanced_form(form, '', show_cancel=False, submit_text="Anwenden", actions_offset=0, field_render_mode="basic", form_render_mode="basic") }}
{% endblock %}
