{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
        <h4>Neue Zugehörigkeiten in Zahlungsrückstands-Gruppe:</h4>
        <form action="#" method="post">
        {{ form_pid.csrf_token }}
        {% for field in form_pid %}
            {% if field.type != 'CSRFTokenField' %}
                {{ field }} {{ field.label }}<br>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Zahlungsrückstände anwenden</button>
        </form>
        <br>
        <br>

        <h4>Beendete Mitgliedschaften</h4>
        <form action="#" method="post">
        {{ form_terminated.csrf_token }}
        {% for field in form_terminated %}
            {% if field.type != 'CSRFTokenField' %}
                {{ field }} {{ field.label }}<br>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Mitgliedschaften beenden</button>
        </form>
        <br>
        <br>

        <h4>Beendete Zugehörigkeiten in Zahlungsrückstands-Gruppe</h4>
        <form action="#" method="post">
        {{ form_no_pid.csrf_token }}
        {% for field in form_no_pid %}
            {% if field.type != 'CSRFTokenField' %}
                {{ field }} {{ field.label }}<br>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Zahlungsrückstände beenden</button>
        </form>

{% endblock %}
