{% extends "layout.html" %}

{% block content %}
    <h3>Angelegte Journals</h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Bank</th>
            <th>HBCI-Url</th>
            <th>Aktualisiert am</th>
            <th>Kontonummer</th>
            <th>Banknummer</th>
        </tr>
        {% for j in journals %}
            <tr>
                <td>{{ j.account }}</td>
                <td>{{ j.bank }}</td>
                <td>{{ j.hbci_url }}</td>
                <td>{{ j.last_update|date }}</td>
                <td>{{ j.account_number }}</td>
                <td>{{ j.bank_identification_code }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if current_user is privileged_for('finance_change') %}
        <a class="btn btn-primary" href="{{ url_for('.journal_create') }}">Neues Journal anlegen</a>
    {% endif %}

    <h3>Nicht zugeordnete Journaleinträge</h3>
    <table class="table table-striped">
        <tr>
            <th>Quellkonto</th>
            <th>Zielkonto</th>
            <th>Datum</th>
            <th>Betrag</th>
            <th>Nachricht</th>
            <th>Fremdkonto</th>
            <th>Fremdbank</th>
            <th>Fremdperson</th>
            <th></th>
        </tr>
        {% for j in journal_entries %}
            <tr>
                {% if j.amount < 0 %}
                    <td>{{ j.journal.account }}</td>
                    <td class="text-error">Nicht zugeordnet</td>
                {% else %}
                    <td class="text-error">Nicht zugeordnet</td>
                    <td>{{ j.journal.account }}</td>
                {% endif %}
                <td>{{ j.valid_date|date }}</td>
                <td>{{ j.amount|money }}</td>
                <td>{{ j.message }}</td>
                <td>{{ j.other_account }}</td>
                <td>{{ j.other_bank }}</td>
                <td>{{ j.other_person }}</td>
                {% if current_user is privileged_for('finance_change') %}
                    <td><a href="{{ url_for('.journalentry_edit', entryid=j.id) }}"><i class="icon-edit"></i></a></td>
                {% else %}
                     <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
