{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/table.html" as tbl %}

{% set cols = [
    {'name': 'user', 'title': 'Nutzer-ID', 'formatter': 'table.linkFormatter'},
    {'name': 'valid_on', 'title': 'Gültig am'},
    {'name': 'description', 'title': 'Beschreibung'},
    {'name': 'amount', 'title': 'Betrag', 'formatter':'table.coloredFormatter'},
] %}

{% block content %}
    {{ table.render('book_fees') }}

    <br/>

    {{ forms.advanced_form(form, '', show_cancel=False, submit_text="Buchen", actions_offset=0, field_render_mode="basic", form_render_mode="basic") }}
{% endblock %}
