{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Beschreibung</th>
            <th>Datum</th>
            <th>Wert</th>
            <th>Semester</th>
        </tr>
        {% for t in transactions %}
            <tr>
                <td>{{ t.message }}</td>
                <td>{{ t.transaction_date|date }}</td>
                <td>{{ t.journal_entry.amount }}</td>
                <td>{{ t.semester.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
