{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Beschreibung</th>
            <th>Datum</th>
            <th>Wert</th>
        </tr>
        {% for t in transactions %}
            <tr>
                <td>{{ t.description }}</td>
                <td>{{ t.transaction_date|date }}</td>
                <td>
                    {% for s in t.splits %}{{ s.amount }}{% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
