<pre>
English version below!

---

Hallo {{ user.name }},

bei deiner Registrierung haben wir festgestellt, dass du bereits ein Nutzerkonto
in unserem System hast. Daher haben wir deine Informationen mit dem bereits
vorhandenen Konto zusammengeführt.
Die Anmeldedaten des alten Kontos bleiben bestehen.

Nutzer-ID:  {{ user_id }}
Nutzername: {{ user.login }}

Viele Grüße
Deine AG DSN

--

Hello {{ user.name }},

during your registration we noticed that you already have a user account in our
system. Therefore we merged your information with the existing account.
The login credentials of the old account remain the same.

User-ID : {{ user_id }}
Username: {{ user.login }}

Best Regards
Your AG DSN
</pre>


