<pre>
English version below!

---

Hallo {{ user.name }},

deine Mitgliedschaftsanfrage ist bei uns eingegangen.

Deine Registrierungsnummer lautet: {{ user_id }}

{%- if user.room is none or user.swdd_person_id is none %}

Bitte schicke uns eine Kopie deines Mietvertrages als Antwort auf diese E-Mail,
damit wir deine Registrierung abschließen können.
{% endif %}

{%- if not is_adult %}
Da du noch nicht volljährig bist, benötigen wir noch eine schriftliche
Einverständniserklärung eines Erziehungsberechtigten.
Bitte lass uns diese als Scan oder in einen unserer Briefkästen zukommen.

{% endif -%}

{%- if user.previous_dorm is not none %}
Da du in der Vergangenheit bereits ein Konto bei uns hattest, werden wir versuchen
deine neuen Informationen mit dem alten Konto zu verknüpfen.
Wir melden uns bei dir wenn der Vorgang abgeschlossen ist oder wir noch weitere
Informationen benötigen.

{% endif -%}

Bitte gib bei E-Mails an uns immer deine Registrierungsnummer an.

Viele Grüße
Deine AG DSN

--

Hello {{ user.name }},

we have received your membership request.

Your registration id is: {{ user_id }}

{%- if user.room is none or user.swdd_person_id is none %}

Please send us a copy of your rental contract in response to this e-mail,
so we can complete your registration.
{% endif %}

{%- if not is_adult %}

Since you are not yet of age, we still need a written declaration of consent
from a parent or guardian.
Please send this as a scan or in one of our mailboxes.

{% endif -%}

{%- if user.previous_dorm is not none %}

Since you have already had an account with us in the past, we will try to
link your new information to the old account.
We will contact you when the process is complete or when we need more
information from you.

{% endif -%}

Remember to include your registration number in your response.

Best Regards
Your AG DSN
</pre>


