<pre>
English version below!

---

Hallo {{ user.name }},

deine Mitgliedschaftsanfrage ist bei uns eingegangen.

Deine Registrierungsnummer lautet: {{ user_id }}

Bitte schicke uns eine Kopie deines Mietvertrages als Antwort auf diese E-Mail,
damit wir deinen Wohnort in dein Konto eintragen können.
Denk daran deine Registrierungsnummer mitzuschicken.

Viele Grüße
Deine AG DSN

--

Hello {{ user.name }},

we have received your membership request.

Your registration id is: {{ user_id }}

Please send us a copy of your rental contract in response to this e-mail,
so we can add your place of residence to your account.
Remember to include your registration number.

Best Regards
Your AG DSN
</pre>


