<pre>
English version below!

---

Hallo {{ user.name }},

leider müssen wir dir mitteilen, dass dein Antrag auf Mitgliedschaft wegen der
folgenden Gründe nicht genehmitgt werden konnte:

{{ reason }}

All deine angegebenen Daten wurden gelöscht und es steht dir frei einen neuen
Antrag zu stellen, sofern die Ablehnungsgründe dann nicht mehr relevant sind.

Viele Grüße
Deine AG DSN

--

Hello {{ user.name }},

we are sorry to inform you that your membership application has been rejected due to
the following reasons:

{{ reason }}

All your data has been deleted and you are free to submit a new application,
if the reasons for refusal are no longer relevant.

Best Regards
Your AG DSN
</pre>


