{%- extends "base.html.j2" -%}
{%- block body -%}
* English version below *

Hallo {{ user.name }},

wir schreiben dir, da dein Guthaben bei uns aktuell {{ -user.account.balance }}€ beträgt.
Dein negatives Guthaben kann folgende Ursachen haben:

(1) Deine Zahlung hat uns noch nicht erreicht.
Bei korrektem Verwendungszweck sollte sie in den nächsten sieben Tagen
automatisch deinem Account zugeordnet werden ohne, dass du etwas tun musst.
Bitte schicke uns *keine* Zahlungsquittung, außer, wenn dir deine Zahlung
innerhalb der nächsten sieben Tage nicht in deinem Konto [0] angezeigt wird.

(2) Du hast den Mitgliedsbeitrag noch nicht überwiesen.
In diesem Fall bitten wir dich, die Zahlung schnellstmöglich vorzunehmen
und auf den korrekten Verwendungszweck [1] zu achten.
Sollte dein Guthaben nach dem 14. diesen Monats noch negativ sein, wird deine
Verbindung gesperrt.
Bitte schicke uns *keine* Zahlungsquittung.

(3) Der Verwendungszweck deiner Überweisung entsprach nicht der
personalisierten Vorgabe [1] und die Zahlung konnte dir somit nicht
automatisch zugeordnet [0] werden.
In diesem Falle bitten wir dich, uns eine Zahlungsquittung zuzuschicken.
Dieser muss mindestens die Ziel-IBAN, den Betrag, den Verwendungszweck
und den Tag der Wertstellung enthalten.

Solltest du ausgezogen sein und vergessen haben, uns rechtzeitig eine
Kündigung zu schicken, weisen wir dich darauf hin, dass dies jederzeit
ohne Angabe von Gründen
* online auf unserer Website [3]
* per E-Mail [2]
* persönlich in einer unserer Sprechstunden [4]
möglich ist.
Im Falle einer Kündigung wird der Monatsbeitrag des Kündigungsmonats
entsprechend unserer Beitragsordnung [5] am Kündigungstag fällig.
Wir weisen an dieser Stelle darauf hin, dass die aufgelaufenen Schulden
zu begleichen sind.

Viele Grüße
Deine AG DSN

[0] Transaktionen:       https://agdsn.de/sipa/usersuite/#transaction-log
[1] Zahlungsdaten:       https://agdsn.de/sipa/usersuite/#payment-details
[2] Support:             mailto:support@agdsn.de
[3] Mitgliedschaftsende: https://agdsn.de/sipa/pages/membership/cancel
[4] Sprechstunden:       https://agdsn.de/sipa/pages/support/contacts
[5] Beitragsordnung:
https://agdsn.de/sipa/documents/legal/beitragsordnung.pdf


* English version *

Dear {{ user.name }},

We hereby inform you that your balance is {{ -user.account.balance }}€.
Your negative balance may be caused by the following reasons:

(1) Your payment has not reached us, yet.
If you used the correct personalized payment description, the
transaction should be assigned automatically to your account during the
next seven days.
Please do *not* send us any payment receipt unless your payment does not
show up in your account [0] after seven days.

(2) You have not payed your membership contribution, yet.
In that case, please transfer the due amount immediately.
Make sure to use the correct payment description [1].
If your balance is still negative after the 14th of this month, your connection
will be blocked.
Please do *not* send us any payment receipt.

(3) The payment description of your transaction was not the correct
personalized one [1] so your payment could not be assigned automatically to
your account [0].
In that case we ask you to send us a payment receipt that must contain the
target IBAN, amount, payment description and day of payment.

If you have moved out and forgot to send us your membership termination,
please note that you can cancel your membership any time (but not
retroactively) without giving reasons
* on our website [2]
* via email [2]
* in person during our office hours [4].
When terminating your membership, the contribution for the month is due
on the day of termination [5].
Please also be aware that you have to pay your debt in any case.

Best Regards,
Your AG DSN

[0] Transactions:         https://agdsn.de/sipa/usersuite/#transaction-log
[1] Payment details:      https://agdsn.de/sipa/usersuite/#payment-details
[2] Support:              mailto:support@agdsn.de
[3] Cancel membership:    https://agdsn.de/sipa/pages/membership/cancel
[4] Office hours:         https://agdsn.de/sipa/pages/support/contacts
[5] Finance constitution:
https://agdsn.de/sipa/documents/legal/beitragsordnung.pdf
{%- endblock -%}
