<pre>
* English version below *

Hallo {{ user.name }},

wir schreiben dir, da dein Guthaben bei uns aktuell {{ user.account.balance }}€ beträgt.
Dein negatives Guthaben kann folgende Ursachen haben:

(1) Deine Zahlung hat uns noch nicht erreicht.
Bei korrektem Verwendungszweck sollte sie in den nächsten Tagen
automatisch deinem Account zugeordnet werden ohne dass du etwas tun musst.

(2) Du hast den Mitgliedsbeitrag noch nicht überwiesen.
In diesem Fall bitten wir dich, die Zahlung schnellstmöglich vorzunehmen
und auf den korrekten Verwendungszweck zu achten. Der nächste
Sperrtermin ist der 15. Januar 2021.

(3) Der Verwendungszweck deiner Überweisung entsprach nicht der
personalisierten Vorgabe und die Zahlung konnte dir somit nicht
automatisch zugeordnet werden.
In diesem Falle bitten wir dich, uns einen Nachweis über die geleistete
Zahlung per E-Mail [1] zuzuschicken.
Dieser muss mindestens die Ziel-IBAN, den Betrag, den Verwendungszweck
und den Tag der Wertstellung enthalten.

Solltest du ausgezogen sein und vergessen haben, uns rechtzeitig eine
Kündigung zu schicken, weisen wir dich darauf hin, dass dies jederzeit
ohne Angabe von Gründen
* online auf unserer Website [2]
* per E-Mail [1]
* persönlich in einer unserer Sprechstunden [3]
möglich ist.
Im Falle einer Kündigung wird der Monatsbeitrag des Kündigungsmonats
entsprechend unserer Beitragsordnung [4] am Kündigungstag fällig.
Wir weisen an dieser Stelle darauf hin, dass die aufgelaufenen Schulden
zu begleichen sind.

Frohe Feiertage wünscht
Deine AG DSN

[1] Support:             mailto:support@agdsn.de
[2] Mitgliedschaftsende: https://agdsn.de/sipa/pages/membership/cancel
[3] Sprechstunden:       https://agdsn.de/sipa/pages/support/contacts
[4] Beitragsordnung:
https://agdsn.de/sipa/documents/legal/beitragsordnung.pdf


* English version *

Dear {{ user.name }},

We hereby inform you that your balance is {{ user.account.balance }}€.
Your negative balance may be caused by the following reasons:

(1) Your payment has not reached us, yet.
If you used the correct personalized payment description, the
transaction should be assigned automatically to your account during the
next few days.

(2) You have not payed your membership contribution, yet.
In that case, please transfer the due amount immediately.
Make sure to use the correct payment description. Next date for blocking
is the 15th of January 2021.

(3) The payment description of your transaction was not the correct
personalized one so your payment could not be assigned automatically to
your account.
In that case we ask you to send us a proof of payment via email [1].
It has to contain the target IBAN, amount, payment description and day
of payment.

If you have moved out and forgot to send us your membership termination,
please note that you can cancel your membership any time (but not
retroactively) without giving reasons
* on our website [2]
* via email [1]
* in person during our office hours [3].
When terminating your membership, the contribution for the month is due
on the day of termination [4].
Please also be aware that you have to pay your debt in any case.

Happy Holidays,
Your AG DSN

[1] Support:              mailto:support@agdsn.de
[2] Cancel membership:    https://agdsn.de/sipa/pages/membership/cancel
[3] Office hours:         https://agdsn.de/sipa/pages/support/contacts
[4] Finance constitution:
https://agdsn.de/sipa/documents/legal/beitragsordnung.pdf
</pre>
