{%- extends "base.html.j2" -%}
{%- block body -%}
English version below!

---

Hallo {{ user.name }},

leider müssen wir dir mitteilen, dass dein Antrag auf Rückerstattung wegen der
folgenden Gründe nicht genehmigt werden konnte:

{{ reason }}

Antrag zu stellen, sofern die Ablehnungsgründe dann nicht mehr relevant sind.

Viele Grüße
Deine AG DSN

--

Hello {{ user.name }},

we are sorry to inform you that your request for retransmission of membershipfees has been rejected due to
the following reasons:


the reasons for refusal are no longer relevant.

Best Regards
Your AG DSN
{%- endblock -%}
