{%- set links = [] -%}
{%- import "macros/link.html" as link with context -%}
<pre>
English version below!

---

Hallo {{ user.name }},

für dein AG DSN Konto wurde ein Link zum zurücksetzen des Passwortes angefordert.
Falls du dies nicht selber warst, kannst du auf diese Nachricht antworten,
um den Vorfall zu melden.

Deine Nutzer-ID lautet: {{ user_id }}
Dein Nutzername lautet: {{ user.login }}

Passwort zurücksetzen:
{{ link.render_link(password_reset_url, password_reset_url, mode) }}

Viele Grüße
Deine AG DSN

{{ link.render_link_list(mode) }}
--

Hello {{ user.name }},

a password reset link has been requested for your AG DSN account.
If this was not you, you can reply to this message, to report this incident.

Your username is: {{ user.login }}
Your user-id is:  {{ user_id }}

Reset password:
{{ link.render_link(password_reset_url, password_reset_url, mode) }}

Best Regards
Your AG DSN

{{ link.render_link_list(mode) }}
</pre>
