English version below!
---

Hallo {{ user.name }},

bitte bestätige deine E-Mail Adresse indem du auf folgenden Link klickst:

<a href="{{ email_confirm_url }}">{{ email_confirm_url }}</a>

Falls du dich nicht bei uns registriert hast, kannst du diese E-Mail ignorieren.

Viele Grüße
Deine AG DSN

--

Hello {{ user.name }},

Please confirm your email address by clicking on the following link:

<a href="{{ email_confirm_url }}">{{ email_confirm_url }}</a>

If you have not registered with us, you can ignore this email.

Best Regards
Your AG DSN
