{% extends "base.html.j2" %}
{%- import "macros/link.html" as link with context -%}
{% block body %}
English version below!

---

Hallo {{ user.name }},

hiermit teilen wir dir mit, dass der folgende neue Wohnort in deinem Mitgliedskonto
eingetragen wurde:

{{ user.address.street }} {{ user.address.number }} // {{ user.room.level }}-{{ user.room.number }}
{{ user.address.zip_code }} {{ user.address.city }}
{{ user.address.country }}

Du kannst deinen Netzwerkanschluss nach vorherigem Login auf unserer {{ link.render_link("Internetseite", "https://agdsn.de/sipa/usersuite/") }}
freischalten.
Falls du deinen Netzwerkanschluss bereits freigeschaltet hast, sollte dieser nun
mit der korrekten MAC Adresse in dem oben angegebenen Zimmer funktionieren.

Um bei anstehenden Wartungsarbeiten an deinem Netzwerkanschluss immer rechtzeitig
informiert zu sein, empfehlen wir dir unsere {{ link.render_link("Statusseite", "https://status.agdsn.net/subscribers/subscribe") }} zu abonnieren.

Viele Grüße
Deine AG DSN

{{ link.render_link_list() }}
--

Hello {{ user.name }},

we hereby inform you that the following new residence has been registered in your
member account:

{{ user.address.street }} {{ user.address.number }} // {{ user.room.level }}-{{ user.room.number }}
{{ user.address.zip_code }} {{ user.address.city }}
{{ user.address.country }}

You can enable your network connection after logging in on our {{ link.render_link("webpage", "https://agdsn.de/sipa/usersuite/") }}.
If you have already enabled your network connection, it should now
work with the correct MAC address in the room specified above.

To always receive the latest news about upcoming maintenance, we recommend to
subscribe to our {{ link.render_link("status page", "https://status.agdsn.net/subscribers/subscribe") }}.

Best Regards
Your AG DSN
{% endblock %}
