#!/usr/bin/env python2

conn_opts = {
    "netusers": 'mysql+pymysql://<USER>:<PASSWORD>@127.0.0.1:13306/netusers?charset=utf8&use_unicode=0',
    "userman": 'postgresql://<USER>@127.0.0.1:15432/userman',
    "legacy": "postgresql:///legacy",
    "pycroft": 'postgres:///pycroft',
    "master": "postgresql:///postgres",
}
