{% extends "layout.html" %}

{% block page_css %}
    <style type="text/css">
        thead.header-copy {
            background-color: #ffffff;
            padding-top: 11px;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        <a class="btn btn-primary" href="{{ url_for(".property_group_create") }}" class="btn">Neue Eigenschaftengruppe</a>
    </p>
    {% if property_groups %}
    <table class="table table-fat table-fixed-header">
        <thead class="header">
        <tr>
            <th>&nbsp;</th>
            {% for property_group in property_groups %}
            <th>
                {{ property_group.name }} <br />
                <a class="glyphicon glyphicon-trash" href="{{ url_for(".property_group_delete", group_id=property_group.id) }}"></a>
            </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for category in property_categories %}
            <tr>
                <th colspan="{{ num_groups + 1 }}">{{ category[0] }}</th>
            </tr>
            {% for property in category[1] %}
            <tr>
                <td>{{ property[1] }}</td>
                {% for property_group in property_groups %}
                <td>
                    {% if  property_group.has_property(property[0]) %}
                        <a href="{{ url_for(".property_group_delete_property", group_id=property_group.id, property_name=property[0]) }}"
                           class="glyphicon glyphicon-ok" title="Löschen">
                        </a>
                    {% else %}
                        <a href="{{ url_for(".property_group_add_property", group_id=property_group.id, property_name=property[0]) }}"
                           class="glyphicon glyphicon-remove" title="Hinzufügen">
                        </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        /*
         source: https://github.com/oma/table-fixed-header
         */
        (function ($) {
            $.fn.fixedHeader = function (options) {
                var config = {
                    topOffset: 40
                };

                if (options) {
                    $.extend(config, options);
                }

                return this.each(function () {
                    var o = $(this);

                    var $win = $(window)
                            , $head = $('thead.header', o)
                            , isFixed = 0;
                    var headTop = $head.length && $head.offset().top - config.topOffset;

                    function processScroll() {
                        if (!o.is(':visible')) return;
                        if ($('thead.header-copy').size()) {
                            $('thead.header-copy').width($head.width());
                            var i, scrollTop = $win.scrollTop();
                        }
                        var t = $head.length && $head.offset().top - config.topOffset;
                        if (!isFixed && headTop != t) {
                            headTop = t;
                        }
                        if (scrollTop >= headTop && !isFixed) {
                            isFixed = 1;
                        } else if (scrollTop <= headTop && isFixed) {
                            isFixed = 0;
                        }
                        isFixed ? $('thead.header-copy', o).show().offset({ left: $head.offset().left })
                                : $('thead.header-copy', o).hide();
                    }

                    $win.on('scroll', processScroll);

                    $head.clone().removeClass('header').addClass('header-copy header-fixed').css({'position': 'fixed', 'top': config['topOffset']}).appendTo(o);
                    o.find('thead.header-copy').width($head.width());

                    o.find('thead.header > tr > th').each(function (i, h) {
                        var w = $(h).width();
                        /*
                         fixes the first cell. Without the expand, width is padding+innerwidth.
                         means: if its originally 163px wide, the calculation for the copy will be
                         163 = 8+147+8, not 8+163+8 as it should be. -dom
                         */
                        if (i == 0) w = w + 30;
                        o.find('thead.header-copy> tr > th:eq(' + i + ')').width(w);
                    });
                    $head.css({ margin: '0 auto',
                        width: o.width(),
                        'background-color': config.bgColor });
                    processScroll();
                });
            };

        })(jQuery);

        $(document).ready(function () {
            $('.table-fixed-header').fixedHeader();
        });
    </script>
{% endblock %}
