{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Bezeichnung</th>
            <th>Limit</th>
            <th>Löschen</th>
        </thead>
        <tbody>
            {% for traffic_group in traffic_groups %}
                <tr>
                    <td class="grow">{{ traffic_group.name }}</td>
                    <td class="shrink">{{ traffic_group.traffic_limit/1024/1024 }} MB</td>
                    <td class="shrink">
                        <a href="{{ url_for(".traffic_group_delete", group_id=traffic_group.id) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" href="{{ url_for(".traffic_group_create") }}" class="btn">Neue Traffic Gruppe</a>
    </p>
{% endblock %}
