{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
    <section>
        {{ forms.simple_form(form, url_for(".login", next=next), url_for('dormitories.overview'), submit_text="Login", split_cols=false  ) }}
    </section>

    <section>
        <h2>Testbenutzer</h2>
        <ul>
            <li>ag_dsn</li>
            <li>nutzerverwalter</li>
            <li>admin</li>
            <li>finanzer</li>
        </ul>
        <p>Das Passwort ist jeweils test.</p>
    </section>
{% endblock %}